Maintainer: Nathan Michaels <nathan@nmichaels.org>
Version: __VERSION__
Section: devel
Priority: optional
Build-Depends: debhelper (>= 10),
               haskell-stack (>=1.1.2),
               help2man
Standards-Version: 4.1.1
Vcs-Browser: https://github.com/smudgelang/smudge
Vcs-Git: https://github.com/smudgelang/smudge.git
Homepage: https://github.com/smudgelang/smudge
Package: smudge
Architecture: __ARCH__
Depends: graphviz, libc6
Description: State machine generation language
 Smudge is a domain specific language for implementing state
 machines. The compiler generates standard C code as well as graphical
 state diagrams. Its output is optimized for use on very limited
 embedded systems, but designed to be used anywhere state machines are
 appropriate.
